{namespace gib=GIB\GradingTool\ViewHelpers}
<style>
	h3 {
		color: #f36e21;
		font-family: 'Cambria Bold Italic';
		font-style: italic;
	}
	strong { font-family: 'Cambria Bold'; }
	table.performance th { font-family: 'Cambria Bold'; color: #f36e21; }
	table.performance tr.firstRow th { color: #555555; }
	td.orange { color: #f36e21; font-family: 'Cambria Bold'; }
	td.line { border-top: 1px solid #555555; }
</style>

<tcpdf method="setBookmarkWithChapterNumberAndClass" params="{gib:tcPdfParams(params: {0: 'Grading', 1: 1, 2: '3.1', 3: 'orange'})}" />

<h3>
	<table class="sectionTitle">
		<tbody>
			<tr>
				<td width="12%">3.1</td>
				<td width="88%">Grading</td>
			</tr>
		</tbody>
	</table>
</h3>

<table>
	<tbody>
		<tr>
			<td width="12%"></td>
			<td width="88%">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
				<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
				<img src="{onePixelResource}" height="20" />
			</td>
		</tr>
		<tr>
			<td width="12%"></td>
			<td width="88%">
				<table width="75%">
					<tbody>
						<f:for each="{submission.sections}" as="section" iteration="sectionIterator">
							<tr>
								<td width="90%">
									{section.label}<br />
									<img src="{onePixelResource}" height="15" />
								</td>
								<td class="orange" width="10%">
									<f:format.number decimals="2">{section.weightedScore}</f:format.number>
								</td>
							</tr>
						</f:for>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="2" class="line"></td>
						</tr>
						<tr>
							<td class="orange">Overall Grading</td>
							<td class="orange">
								<f:format.number decimals="2">{submission.mean}</f:format.number>
							</td>
						</tr>
					</tfoot>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<tcpdf method="AddPage" />
<img src="{radarChartFileName}" align="left" /><br />
<img src="{lineGraphFileName}" align="left" />

<tcpdf method="AddPage" />

<tcpdf method="setBookmarkWithChapterNumberAndClass" params="{gib:tcPdfParams(params: {0: 'Answer Level Graph', 1: 1, 2: '3.2', 3: 'orange'})}" />
<h3>
	<table class="sectionTitle">
		<tbody>
			<tr>
				<td width="12%">3.2</td>
				<td width="88%">Answer Level</td>
			</tr>
		</tbody>
	</table>
</h3>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
<img src="{answerLevelGraphFileName}" align="left" />

<tcpdf method="AddPage" />
<tcpdf method="setBookmarkWithChapterNumberAndClass" params="{gib:tcPdfParams(params: {0: 'Detailed Performance', 1: 1, 2: '3.3', 3: 'orange'})}" />
<h3>
	<table class="sectionTitle">
		<tbody>
			<tr>
				<td width="12%">3.3</td>
				<td width="88%">Detailed Performance</td>
			</tr>
		</tbody>
	</table>
</h3>
<table class="performance">
	<thead>
		<tr class="firstRow">
			<th></th>
			<th align="left">Best Practise<br><img src="{onePixelResource}" height="10" /></th>
			<th align="left">Low Performance</th>
		</tr>
		<tr>
			<td colspan="3" class="line"></td>
		</tr>
	</thead>
	<tbody>
		<f:for each="{submission.sections}" as="section" iteration="performanceIterator">
			<tr>
				<th>{section.label}<br /><img src="{onePixelResource}" height="10" /></th>
				<td>
					<f:for each="{section.questions}" as="question" iteration="bpIterator">
						<f:if condition="{bpIterator.isLast}">
							<f:then>
								<f:if condition="{question.bestPractiseText}">
									{question.bestPractiseText}<br /><img src="{onePixelResource}" height="20" />
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{question.bestPractiseText}">
									{question.bestPractiseText}<br />
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</td>
				<td>
					<f:for each="{section.questions}" as="question" iteration="lpIterator">
						<f:if condition="{lpIterator.isLast}">
							<f:then>
								<f:if condition="{question.lowPerformanceText}">
									{question.lowPerformanceText}
								</f:if>
							</f:then>
							<f:else>
								<f:if condition="{question.lowPerformanceText}">
									{question.lowPerformanceText}<br />
								</f:if>
							</f:else>
						</f:if>
					</f:for>
				</td>
			</tr>
			<f:if condition="{performanceIterator.isLast}">
				<f:else>
					<tr>
						<td colspan="3" class="line"></td>
					</tr>
				</f:else>
			</f:if>
		</f:for>
	</tbody>
</table>