{namespace gib=GIB\GradingTool\ViewHelpers}
<style>
	td.smallGreyText {
		color: #555555;
		font-size: 10px;
	}
</style>
<img src="{onePixelResource}" height="250" /><br />
<table>
	<tbody>
		<tr>
			<td width="12%"></td>
			<td width="88%" class="smallGreyText">
				Global Infrastructure Basel<br />
				Elisabethenstrasse 22<br />
				CH-4051 Basel<br />
				Switzerland<br />
				T +41 61 205 10 80<br />
				F +41 61 271 10 10<br />
				info@gib-foundation.org<br />
				www.gib-foundation.org
			</td>
		</tr>
	</tbody>
</table>