<table class="table table-condensed table-smalltext">
	<tbody>
	<tr>
		<th>
			Status:
		</th>
		<td>
			{project.projectDataArray.status}
		</td>
	</tr>
	<f:if condition="{project.dataSheetContentArray.categories}">
		<tr>
			<th>
				Sectors:
			</th>
			<td>
				<f:for each="{project.dataSheetContentArray.categories}" as="category" iteration="categoryIterator">
					<f:if condition="{categoryIterator.isLast}">
						<f:then>
							{category}
						</f:then>
						<f:else>
							{category}<br />
						</f:else>
					</f:if>

				</f:for>
			</td>
		</tr>
	</f:if>
	<f:if condition="{project.country}">
		<tr>
			<th style="width: 135px">
				Location:
			</th>
			<td>
				<f:if condition="{project.dataSheetContentArray.city}">
					{project.dataSheetContentArray.city},
				</f:if>
				{project.country}
			</td>
		</tr>
	</f:if>
	<f:if condition="{project.dataSheetContentArray.startingDate}">
		<tr>
			<th>
				Start date:
			</th>
			<td>
				<f:format.date>{project.dataSheetContentArray.startingDate}</f:format.date>
			</td>
		</tr>
	</f:if>
	<f:comment>
		<f:if condition="{project.dataSheetContentArray.implementationTimeframe}">
			<tr>
				<th>
					Project duration:
				</th>
				<td>
					{project.dataSheetContentArray.implementationTimeframe}
				</td>
			</tr>
		</f:if>
	</f:comment>
	<f:comment>
		<f:if condition="{project.projectDataArray.hideRequiredInvestment}">
			<f:else>
				<f:if condition="{project.dataSheetContentArray.requiredInvestment}">
					<tr>
						<th>
							Required Investment:
						</th>
						<td>
							US $ {project.dataSheetContentArray.requiredInvestment} Mio.
						</td>
					</tr>
				</f:if>
			</f:else>
		</f:if>
	</f:comment>
	<f:if condition="{project.projectDataArray.hideTotalInvestment}">
		<f:else>
			<f:if condition="{project.dataSheetContentArray.cost}">
				<tr>
					<th>
						Total Investment:
					</th>
					<td>
						US $ {project.dataSheetContentArray.cost} Mio.
					</td>
				</tr>
			</f:if>
		</f:else>
	</f:if>
	<f:comment>
		<f:if condition="{project.projectDataArray.hideSpider}">
			<f:else>
				<f:if condition="{submission.mean}">
					<tr>
						<th>
							GIB Grading:
						</th>
						<td>
							<f:format.number decimals="2">{submission.mean}</f:format.number>
						</td>
					</tr>
				</f:if>
			</f:else>
		</f:if>
	</f:comment>
	</tbody>
</table>
<small>For more information please contact <a href="mailto:katharina.braig@gib-foundation.org">katharina.braig@gib-foundation.org</a>.</small>