{namespace form=TYPO3\Form\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title">{project.projectTitle}</f:section>

<f:section name="Content">
	<div class="row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
		<div class="col-md-12">

			<f:format.raw>{renderedForm}</f:format.raw>

		</div>
	</div>
	<f:comment>
	<script src="{f:uri.resource(path: 'JavaScripts/jquery.autosave.min.js', package: 'GIB.GradingTool')}"></script>
	<script>
		var ajaxUri = '<f:format.raw>{ajaxUri}</f:format.raw>';

		$(function() {

			function submissionFormAutoSaved(status) {
				if (status == 'success') {
					var message = "Entry was saved successfully!";
					var classes = 'flyover flyover-bottom alert alert-success';
				} else {
					var message = "Entry could not be saved.";
					var classes = 'flyover flyover-bottom alert alert-danger';
				}

				$('<div>')
						.attr('id', 'alertMessage')
						.html('<p>' + message  + '</p>')
						.addClass(classes)
						.appendTo($('.container'));

				if (!$('#alertMessage').is( '.in' )) {
					$('#alertMessage').addClass('in');

					setTimeout(function() {
						$('#alertMessage').removeClass('in');
					}, 1500);
				}

			}

			$("form").autosave({
				callbacks: {
					save: function(options, formData) {
						$.ajax({
							url: ajaxUri,
							data: { formData: formData },
							type: 'post',
							complete: function(jqXHR, status) {
								submissionFormAutoSaved(status);
							}

						});
						return false;
					}
				}
			});

		});
	</script>
	</f:comment>
</f:section>