<f:layout name="Default" />

<f:section name="Title">GIB Grading Tool</f:section>

<f:section name="Content">
	<f:render partial="Admin/Navigation" arguments="{currentAction:'accounts'}"/>
		<div class="row">
			<div class="col-md-12">
				<h2>Reset password for "{account.accountIdentifier}"</h2>
				<f:form.validationResults>
					<f:if condition="{validationResults.flattenedErrors}">
						<div class="alert alert-danger">
							<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
								<ul class="list-unstyled">
									<f:for each="{errors}" as="error">
										<li>{error}</li>
									</f:for>
								</ul>
							</f:for>
						</div>
					</f:if>
				</f:form.validationResults>
				<f:form additionalAttributes="{role: 'form'}" arguments="{account:account}" action="resetAccountPassword">
					<div class="form-group">
						<label for="password">Password</label>
						<f:form.password id="password" name="newPassword" />
					</div>
					<f:form.submit class="btn btn-primary" value="Save" />
				</f:form>
			</div>
		</div>
</f:section>