<f:layout name="Default" />

<f:section name="Title">{settings.databaseName}</f:section>

<f:section name="Content">
	<script src="{f:uri.resource(path: 'JavaScripts/ammap/ammap.js')}"></script>
	<script src="{f:uri.resource(path: 'JavaScripts/ammap/maps/js/worldHigh.js')}"></script>
	<link rel="stylesheet" href="{f:uri.resource(path: 'JavaScripts/ammap/ammap.css')}">
	<link rel="stylesheet" href="{f:uri.resource(path: 'Stylesheets/GIB.Database.css')}">

	<div class="row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
		<div class="col-md-12">
			<div id="filterBar" class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">Filter by</span>
				</div>
				<div class="collapse navbar-collapse" id="filter-navbar">
					<f:form id="filter-form" action="list" controller="Database">
						<ul class="nav navbar-nav">
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Region <b class="caret"></b></a>
								<ul id="navbar-regions" class="dropdown-menu dropdown-menu-form">
									<f:for each="{regions}" as="region" iteration="regionsIterator">
										<li>
											<f:form.checkbox id="region{regionsIterator.cycle}" value="{region._key}" name="demand[filter][regions][]" /> <label for="region{regionsIterator.cycle}">{region._value}</label>
										</li>
									</f:for>
									<li>
										<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sector <b class="caret"></b></a>
								<ul id="navbar-categories" class="dropdown-menu dropdown-menu-form">
									<f:for each="{categories}" as="category" iteration="categoriesIterator">
										<li>
											<f:form.checkbox id="category{categoriesIterator.cycle}" value="{category}" name="demand[filter][categories][]" /> <label for="category{categoriesIterator.cycle}">{category}</label>
										</li>
									</f:for>
									<li>
										<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Stage <b class="caret"></b></a>
								<ul id="navbar-stages" class="dropdown-menu dropdown-menu-form">
									<f:for each="{stages}" as="stage" iteration="stagesIterator">
										<li>
											<f:form.checkbox id="stage{stagesIterator.cycle}" value="{stage}" name="demand[filter][stages][]" /> <label for="stage{stagesIterator.cycle}">{stage}</label>
										</li>
									</f:for>
									<li>
										<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
									</li>
								</ul>
							</li>
							<f:comment>
								<li>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Required Investment <b class="caret"></b></a>
									<ul id="navbar-requiredInvestment-brackets" class="dropdown-menu dropdown-menu-form">
										<f:for each="{requiredInvestmentBrackets}" as="requiredInvestmentBracket" iteration="requiredInvestmentBracketIterator" key="key">
											<li>
												<f:form.checkbox id="requiredInvestmentBracket{requiredInvestmentBracketIterator.cycle}" value="{key}" name="demand[filter][requiredInvestmentBrackets][]" /> <label for="requiredInvestmentBracket{requiredInvestmentBracketIterator.cycle}">USD {requiredInvestmentBracket.minimum}-{requiredInvestmentBracket.maximum} Mio.</label>
											</li>
										</f:for>
										<li>
											<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
										</li>
									</ul>
								</li>
							</f:comment>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Total Investment <b class="caret"></b></a>
								<ul id="navbar-budget-brackets" class="dropdown-menu dropdown-menu-form">
									<f:for each="{budgetBrackets}" as="bracket" iteration="bracketsIterator" key="key">
										<li>
											<f:form.checkbox id="budgetBracket{bracketsIterator.cycle}" value="{key}" name="demand[filter][budgetBrackets][]" /> <label for="budgetBracket{bracketsIterator.cycle}">USD {bracket.minimum}-{bracket.maximum} Mio.</label>
										</li>
									</f:for>
									<li>
										<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
									</li>
								</ul>
							</li>
							<f:security.ifHasRole role="GIB.GradingTool:Administrator">
								<li class="filter-internal">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown">Status <b class="caret"></b></a>
									<ul id="navbar-allStatus" class="dropdown-menu dropdown-menu-form">
										<f:for each="{allStatus}" as="status" iteration="statusIterator">
											<li>
												<f:form.checkbox id="status{statusIterator.cycle}" value="{status}" name="demand[filter][allStatus][]" /> <label for="status{statusIterator.cycle}">{status}</label>
											</li>
										</f:for>
										<li>
											<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
										</li>
									</ul>
								</li>
							</f:security.ifHasRole>
							<li>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">GIB Year <b class="caret"></b></a>
								<ul id="navbar-gibEvents" class="dropdown-menu dropdown-menu-form">
									<f:for each="{gibEvents}" as="gib" iteration="gibIterator">
										<li>
											<f:form.checkbox id="gib{gibIterator.cycle}" value="{gib}" name="demand[filter][gibEvents][]" /> <label for="gib{gibIterator.cycle}">{gib}</label>
										</li>
									</f:for>
									<li>
										<f:form.button disabled="disabled" class="applyButton btn btn-primary">Apply</f:form.button>
									</li>
								</ul>
							</li>
						</ul>
						<f:comment>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search">
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</f:comment>
						<f:form.hidden class="hiddenFilterField" id="countryFilter" name="demand[filter][country]" />
						<f:form.hidden class="hiddenFilterField" id="sortingProperty" name="demand[sorting][property]" />
						<f:form.hidden class="hiddenFilterField" id="sortingOrder" name="demand[sorting][order]" />
					</f:form>
				</div>
			</div>
		</div>
	</div>


	<div class="row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
		<div class="col-md-12">
			<div id="map"></div>
			<div class="pull-left">
				<button type="button" disabled="disabled" style="visibility: hidden" class="btn btn-danger navbar-btn" id="clear-filters">Clear filter</button>
			</div>
			<div class="map-folding">
				<button type="button" class="btn btn-default btn-xs" id="mapSizeToggle">
					<span id="foldButton"><i class="fa fa-caret-square-o-up"></i> Fold map</span>
					<span id="openButton" style="display: none;"><i class="fa fa-caret-square-o-down"></i> Expand map</span>
				</button>
			</div>
			<script>
				var mapAjaxUri = '<f:uri.action absolute="TRUE" controller="Database" action="getMapData" />';
				var projectsAjaxUri = '<f:uri.action absolute="TRUE" controller="Database" action="list" />';
				$(function() {
					// load map (initial state)
					$.getJSON(
						mapAjaxUri,
						function (data) {
							drawMap(data);
						}
					);
					// display projects (initial state)
					$.get(
						projectsAjaxUri,
						function (projectsData) {
							$('#projectsList').html(projectsData).slideDown('slow');
							bindProjectsNavigation();
							bindSorting();
						}
					);

					// prevent the dropdown menu from closing on selecting an option
					$('.dropdown-menu').click(function(e) {
						e.stopPropagation();
						var parentDropdownId = $(e.target).closest('dropdown-menu').attr('id');
						var selectedOptionsCount = $('input:checked', parentDropdownId).length;
						if (selectedOptionsCount > 0) {
							$('button', this).closest('button').attr('disabled', false);
						} else {
							$('button', this).closest('button').attr('disabled', true);
						}
					});

					// filter the results and the map by the criteria given
					var $filterForm = $('#filter-form');
					$filterForm.submit(function(e) {
						e.preventDefault();
						var formData = $filterForm.serialize();
						filterProjectsByDemand(formData);
						filterMapByDemand(formData);
						// close dropdown
						$('.navbar-nav li.open', e.target).removeClass('open');
						// allow clearing the filter
						$("#clear-filters").attr('disabled', false).css('visibility', 'visible');
					});

					// clear all filters and reload map and projects
					$("#clear-filters").click(function(e) {
						e.preventDefault();
						var $filterForm = $('#filter-form');
						$filterForm.find('input:checkbox').removeAttr('checked').removeAttr('selected');
						$filterForm.find('input.hiddenFilterField').val('');
						$(this).attr('disabled', true).css('visibility', 'hidden');
						filterProjectsByDemand(null);
						filterMapByDemand(null);
					})

					// Toggle map size
					$("#mapSizeToggle").click(function(e) {
						$map = $('#map');
						$map.toggleClass('map-folded').promise().done(function () {
							$trigger = $(e.target);
							if ($map.hasClass('map-folded')) {
								$('#foldButton').hide();
								$('#openButton').show();
							} else {
								$('#openButton').hide();
								$('#foldButton').show();
							}
						});
					});

					// Remove data from modal on closing it
					$('.modal').on('hidden.bs.modal', function() {
						$(this).removeData('bs.modal');
						$(this).empty();
						$(this).removeAttr('style');
					});

				});

				// remove a value from filter and refresh project list
				function bindRemoveFromFilter() {
					$(".removeFromFilter").click(function(e) {
						e.preventDefault();
						var valueToUncheck = $(e.target).parent().attr('data-target-value');
						var fieldTypeToUncheck = $(e.target).parent().attr('data-target-type');
						if (fieldTypeToUncheck == 'checkbox') {
							$("input:checkbox[value='" + valueToUncheck + "']").attr('checked', false);
						} else {
							$("input[value='" + valueToUncheck + "']").val('');
						}
						// number of options selected
						var selectedOptionsCount = $('#filter-form :checked').length;
						// length of the county field (if > 0, a country is set)
						var countryLenght = $('#countryFilter').val().length;
						if (selectedOptionsCount + countryLenght > 0) {
							var $filterForm = $('#filter-form');
							var formData = $filterForm.serialize();
							filterProjectsByDemand(formData);
							filterMapByDemand(formData);
						} else {
							filterProjectsByDemand(null);
							filterMapByDemand(null);
							$("#clear-filters").attr('disabled', true).css('visibility', 'hidden');
						}
					})
				}

				function bindProjectsNavigation() {
					$('a', '.page-navigation').click(function(e) {
						e.preventDefault();
						var $projectsList = $('#projectsList');
						$projectsList.hide();
						var uri = $(e.target).attr('href');
						$.get(
							uri,
							function (projectsData) {
								$projectsList.html(projectsData).slideDown('slow');
								bindProjectsNavigation();
							}
						);
					})
				}

				function bindSorting() {
					$('.sortingTrigger').click(function(e) {
						e.preventDefault();
						var sortingTrigger = $(e.target);
						var sortingProperty = sortingTrigger.attr('data-property');
						var sortingOrder = sortingTrigger.attr('data-sortingorder');
						$('#sortingProperty').attr('value', sortingProperty);
						$('#sortingOrder').attr('value', sortingOrder);
						var $filterForm = $('#filter-form');
						var formData = $filterForm.serialize();
						filterProjectsByDemand(formData);
						filterMapByDemand(formData);
						// allow clearing the filter
						$("#clear-filters").attr('disabled', false).css('visibility', 'visible');
					});
				}

				// country map object
				var map = new AmCharts.AmMap();

				// draw the map initially
				function drawMap(mapData) {
					map.pathToImages = "/_Resources/Static/Packages/GIB.GradingTool/JavaScripts/ammap/images/";
					map.backgroundColor = '#98bcda';
					map.backgroundAlpha = 1;
					map.mouseWheelZoomEnabled = true;
					map.developerMode = true;
					map.zoomControl.panControlEnabled = false;
					map.zoomControl.buttonCornerRadius = 5;
					map.zoomControl.buttonFillColor = "#015DCC";
					map.zoomControl.buttonRollOverColor = "#014495";
					map.zoomControl.buttonBorderThickness = 0;
					map.zoomControl.buttonBorderAlpha = 0;

					var dataProvider = {
						mapVar: AmCharts.maps.worldHigh,
						areas: mapData
					};
					map.dataProvider = dataProvider;

					map.areasSettings = {
						//autoZoom: true,
						selectedColor: "#CC0000",
						unlistedAreasColor: "#eae8dd",
						rollOverColor: "#014495",
						rollOverOutlineColor: "#014495",
						color: "#4E9EFF",
						colorSolid: "#015DCC",
						selectable: true
					};

					map.addListener("clickMapObject", function(e) {
						var countryCode = e.mapObject.id;
						$('#countryFilter').attr('value', countryCode);
						var $filterForm = $('#filter-form');
						var formData = $filterForm.serialize();
						filterProjectsByDemand(formData);
						// allow clearing the filter
						$("#clear-filters").attr('disabled', false).css('visibility', 'visible');
					});

					map.write("map");
				};

				/* Update a map displaying the countries and projects demanded */
				function filterMapByDemand(demand) {
					$.getJSON(
						mapAjaxUri + '/?' + demand,
						function (mapData) {
							map.dataProvider = {
								mapVar: AmCharts.maps.worldHigh,
								areas: mapData
							};
							map.validateData();
						}
					);
				}

				/* Filter the projects list to display the countries and projects demanded */
				function filterProjectsByDemand(demand) {
					var $projectsList = $('#projectsList');
					$projectsList.hide();
					$.get(
						projectsAjaxUri + '/?' + demand,
						function (projectsData) {
							$projectsList.html(projectsData).slideDown('slow');
							bindProjectsNavigation();
							bindRemoveFromFilter();
							bindSorting();
						}
					);
				}

			</script>

		</div>
	</div>
	<div id="projectsList" style="display: none;">
	</div>
	<div class="modal fade" id="projectDetails" tabindex="-1" role="dialog" aria-labelledby="Project details" aria-hidden="true">
	</div>

	<f:if condition="{openProject}">
		<script>
			$(function() {
				var showProjectUri = '{openProject}';
				$('#projectDetails').modal({
					show: true,
					remote: showProjectUri
				});
			});
		</script>
	</f:if>

</f:section>