{namespace gib=GIB\GradingTool\ViewHelpers}
<f:if condition="{demand.filter}">
	<div class="navbar navbar-default">
		<div class="row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
			<f:if condition="{demand.filter.country.isoCode}">
				<div class="col-md-3">
					<p class="navbar-text">
						<strong>Country:</strong><br />
						<a class="removeFromFilter" data-target-type="text" data-target-value="{demand.filter.country.isoCode}" title="Remove from filter" href="#"><i class="fa fa-times"></i></a> {demand.filter.country.name}
					</p>
				</div>
			</f:if>
			<f:if condition="{demand.filter.categories}">
				<div class="col-md-3">
					<p class="navbar-text">
						<strong>Sectors:</strong><br />
						<f:for each="{demand.filter.categories}" as="category">
							<a class="removeFromFilter" data-target-type="checkbox" data-target-value="{category}" title="Remove from filter" href="#"><i class="fa fa-times"></i></a> {category}<br />
						</f:for>
					</p>
				</div>
			</f:if>
			<f:if condition="{demand.filter.stages}">
				<div class="col-md-3">
					<p class="navbar-text">
						<strong>Stages:</strong><br />
						<f:for each="{demand.filter.stages}" as="stage">
							<a class="removeFromFilter" data-target-type="checkbox" data-target-value="{stage}" title="Remove from filter" href="#"><i class="fa fa-times"></i></a> {stage}<br />
						</f:for>
					</p>
				</div>
			</f:if>
			<f:if condition="{demand.filter.budgetBrackets}">
				<div class="col-md-3">
					<p class="navbar-text">
						<strong>Budget:</strong><br />
						<f:for each="{demand.filter.budgetBrackets}" as="bracket">
							<a class="removeFromFilter" data-target-type="checkbox" data-target-value="{bracket.key}" title="Remove from filter" href="#"><i class="fa fa-times"></i></a> USD {bracket.minimum}-{bracket.maximum} Mio.<br />
						</f:for>
					</p>
				</div>
			</f:if>
			<div class="col-md-4">
			</div>
		</div>
	</div>
</f:if>
<gib:widget.paginate objects="{projects}" as="paginatedProjects" configuration="{itemsPerPage: settings.projectDatabase.itemsPerPage, insertAbove: true}">
	<f:for each="{paginatedProjects}" as="project">
		<div class="project row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
			<div class="col-md-7">
				<h2>{project.dataSheetContentArray.projectTitle}</h2>
				<f:if condition="{project.dataSheetContentArray.projectSubtitle}">
					<h3>{project.dataSheetContentArray.projectSubtitle}</h3>
				</f:if>
				<p>
					<f:format.crop maxCharacters="500">
						<f:format.nl2br>{project.dataSheetContentArray.description}</f:format.nl2br>
					</f:format.crop>
				</p>
			</div>
			<div class="col-md-5">
				<table class="table table-striped table-condensed table-smalltext">
					<tbody>
					<f:if condition="{project.dataSheetContentArray.categories}">
						<tr>
							<th>
								Sectors:
							</th>
							<td>
								<f:for each="{project.dataSheetContentArray.categories}" as="category" iteration="categoryIterator">
									<f:if condition="{categoryIterator.isLast}">
										<f:then>
											{category}
										</f:then>
										<f:else>
											{category}<br />
										</f:else>
									</f:if>

								</f:for>
							</td>
						</tr>
					</f:if>
					<f:if condition="{project.country}">
							<tr>
								<th style="width: 135px">
									Location:
								</th>
								<td>
									<f:if condition="{project.dataSheetContentArray.city}">
										{project.dataSheetContentArray.city},
									</f:if>
									{project.country}
								</td>
							</tr>
						</f:if>
						<f:if condition="{project.dataSheetContentArray.startingDate}">
							<tr>
								<th>
									Start date:
								</th>
								<td>
									<f:format.date>{project.dataSheetContentArray.startingDate}</f:format.date>
								</td>
							</tr>
						</f:if>
						<f:if condition="{project.dataSheetContentArray.implementationTimeframe}">
							<tr>
								<th>
									Project duration:
								</th>
								<td>
									<f:format.date>{project.dataSheetContentArray.implementationTimeframe}</f:format.date>
								</td>
							</tr>
						</f:if>
						<f:if condition="{project.dataSheetContentArray.cost}">
							<tr>
								<th>
									Total investment:
								</th>
								<td>
									US $ {project.dataSheetContentArray.cost} Mio.
								</td>
							</tr>
						</f:if>
						<f:if condition="{project.dataSheetContentArray.fundingAmountRequested}">
							<tr>
								<th>
									Required investment:
								</th>
								<td>
									US $ {project.dataSheetContentArray.fundingAmountRequested} Mio.
								</td>
							</tr>
						</f:if>
					</tbody>
				</table>
			</div>
		</div>
		<hr />

	</f:for>
</gib:widget.paginate>