<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">
				{project.projectTitle}
			</h4>
		</div>
		<div class="modal-body">
			<f:if condition="{project.dataSheetContentArray.projectSubtitle}">
				<h5>{project.dataSheetContentArray.projectSubtitle}</h5>
			</f:if>
			<p>
				<f:format.nl2br>{project.dataSheetContentArray.description}</f:format.nl2br>
			</p>
			<p>
				<input id="projectUriField" onclick="this.select()" type="text" value="{f:uri.action(action: 'open', absolute: "TRUE", arguments: {project:project})}" />
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
						width="110"
						height="14"
						id="clippy" >
					<param name="movie" value="{f:uri.resource(path: 'Flash/clippy.swf')}"/>
					<param name="allowScriptAccess" value="always" />
					<param name="quality" value="high" />
					<param name="scale" value="noscale" />
					<param NAME="FlashVars" value="text={f:uri.action(action: 'open', absolute: 'TRUE', arguments: {project:project})}">
					<param name="bgcolor" value="#{bgcolor}">
					<embed src="{f:uri.resource(path: 'Flash/clippy.swf')}"
						   width="110"
						   height="14"
						   name="clippy"
						   quality="high"
						   allowScriptAccess="always"
						   type="application/x-shockwave-flash"
						   pluginspage="http://www.macromedia.com/go/getflashplayer"
						   FlashVars="text={f:uri.action(action: 'open', absolute: 'TRUE', arguments: {project:project})}"
						   bgcolor="#ffffff"
					></embed>
				</object>
			</p>
		</div>
	</div>
</div>