html {
    overflow-y: scroll;
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -100px;
    /* Pad bottom by footer height */
    padding-bottom: 100px;
}

.btn-primary {
    background-color: #014495;
    border-color: #014495;
}

a {
    color: #014495;
}

.text-primary {
    color: #014495;
}

.nav-pills>li.active>a {
    background-color: #014495;
}

#siteHeader h1 { font-size: 28px; }

#siteHeader {
    padding: 20px;
    background-color: #f8f8f8;
    margin: 0 auto 20px auto;
    width: 100%;
}

#gib-logo {
    width: 155px;
    height: 109px;
    background: url('../Images/logo_gib.png') no-repeat;
    display: inline-block;
    float: left;
    margin-right: 40px;
    background-size: contain;
}

.svg #gib-logo {
    background-image: url('../Images/logo_gib.svg');
}

#gib-logo a {
    display: block;
    height: 100%; width: 100%;
    border: 0;
}

.siteTitle {
    float: left;
    display: inline-block;
    margin: 40px 0 0 0;
    padding: 0;
    white-space: normal;
    font-weight: 600;
}

#siteFooter {
    padding: 20px 15px;
}

.pager .previous>button {
    float: left;
}

.pager .next>button {
    float: right;
}

fieldset legend { font-size: 125%; }

#dataSheetForm > fieldset > legend { display: none; }

#dataSheetForm > fieldset > fieldset > legend {
    font-size: 150%;
    background-color: #f0f0f0;
    padding: 5px;
    clear: both;
}

#dataSheetForm > fieldset > fieldset {
    margin-top: 50px;
}

.form-control { max-width: 400px; }
textarea.form-control { max-width: 100% !important; min-height: 130px; }

.fieldContainer2Col legend { font-size: 100%; border-bottom: 0; margin-bottom: 5px; font-weight: bold; }
.fieldContainer2Col .form-group { float: left; width: 45%; margin-right: 5%; }
.fieldContainer2Col .form-group:last-child { margin-right: 0; }
.fieldContainer2Col label { font-weight: normal; color: #999; }

.fieldContainer3Col legend { font-size: 100%; border-bottom: 0; margin-bottom: 5px; font-weight: bold; }
.fieldContainer3Col .form-group { float: left; width: 30%; margin-right: 5%; }
.fieldContainer3Col .form-group:last-child { margin-right: 0; }
.fieldContainer3Col label { font-weight: normal; color: #999; }

.mutedFieldLabels legend { font-size: 100%; border-bottom: 0; margin-bottom: 5px; font-weight: bold; }
.mutedFieldLabels label { font-weight: normal; color: #999; }

#dataSheetForm-description { min-height: 500px; }
#projectDataForm-overview { min-height: 300px; }

.dataSheetForm button[type=submit] {
    position: fixed;
    z-index: 9999;
    bottom: 20px;
    right: 50%;
    left: 50%;
    width: 100px;
}

/* hide conditional fields on initialization */
fieldset.conditionalSection { display: none; }

fieldset.hideCaption legend { display: none; }

.project-submission-overview li { cursor: pointer; }
li.danger { background-color: #f2dede; }

/* Flyovers for autosaving */
.flyover {
    left: 150%;
    overflow: hidden;
    position: fixed;
    width: 25%;
    opacity: 0.9;
    z-index: 1050;
    transition: left 0.6s ease-out 0s;
}

.flyover.in {
    left: 75%;
}

.flyover-bottom {
    bottom: 10px;
}

.hidden { display: none; }

ul#submissionPageOverview {
    list-style-type: none;
    margin: 0 0 20px 0;
    padding: 0;
}

ul#submissionPageOverview li {
    float: left;
    width: 28%;
    margin: 0 5% 10px 0;
    font-size: 14px;
    padding: 0;
    height: 24px;
}

ul#submissionPageOverview li span {
    display: inline-block;
    vertical-align: middle;
}

ul#submissionPageOverview li .stepNumber {
    font-size: 24px;
    margin-right: 10px;
    width: 25px;
}

ul.submissionAnswer {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
}

ul.submissionAnswer li {
    width: 16%;
    margin-right: 5%;
    min-height: 150px;
    height: 110%;
    float: left;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 5px solid #014495;
}
ul.submissionAnswer li.answerSelected {
    background-color: #014495;
    color: #fff;
    -webkit-transition: all 200ms ;
    -moz-transition: all 200ms ;
    -ms-transition: all 200ms ;
    -o-transition: all 200ms ;
    transition: all 200ms ;
}
ul.submissionAnswer li:last-child { margin-right: 0; }
ul.submissionAnswer li input[type=radio] {
    position: absolute;
    left: -999em;
}
ul.submissionAnswer label {
    padding: 10px;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    font-weight: normal;
}
ul.submissionAnswer span {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 16px;
}

#overall-grading {
    border-top: 1px solid black;
    font-weight: bold;
    cursor: default;
}

.indent-1 {
    text-indent: 40px;
}

.indent-2 {
    text-indent: 80px;
}

.indent-3 {
    text-indent: 120px;
}

#reviewDataSheet h3 {
    background-color: #dedede;
    padding: 5px;
}

#reviewDataSheet h4 {
    font-weight: 600;
}

#reviewDataSheet h4.subsection {
    background-color: #f0f0f0;
    padding: 5px;
}

#reviewDataSheet ul {
    margin-left: 40px;
    padding-left: 17px;
}

#reviewDataSheet li {
    text-indent: 0;
}

#reviewDataSheet th {
    padding-right: 100px;
}

@media print {
    body { font-size: 11px; }
    h1 { font-size: 18px; }
    h2 { font-size: 16px; }
    h3 { font-size: 14px; }
    h4 { font-size: 12px; }
    #admin-navigation, #siteHeader, #siteFooter, #reviewDataSheetLinks {
        display: none;
    }
    #reviewDataSheet h3 {
        background-color: #dedede !important;
    ;
    }

    #reviewDataSheet h4 {
        font-weight: 600;
    }

    #reviewDataSheet h4.subsection {
        background-color: #f0f0f0 !important;
    }
}