.project h2 {
    margin-top: 0;
    font-size: 20px;

}

.project h3 {
    margin-top: 0;
    font-size: 16px;
}

.dropdown-menu-form {
    padding: 10px;
}

.dropdown-menu-form label {
    font-weight: normal;
}

#navbar-categories {
    width: 350px;
}

#navbar-budget-brackets {
    width: 200px;
}

#navbar-stages {
    width: 200px;
}

.dropdown-menu {
    background-color: rgba(255,255,255,0.7);
}

#filterBar {
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
}

#filterDisplay {
    border-radius: 0;
    border: 0;
}

#map {
    width: 100%;
    height: 400px;
    position: relative;
    -webkit-transition: height 0.7s ease;
    -moz-transition: height 0.7s ease;
    -ms-transition: height 0.7s ease;
    -o-transition: height 0.7s ease;
    transition: height 0.7s ease;
}

.map-folded {
    height: 100px !important;
    -webkit-transition: height 0.7s ease;
    -moz-transition: height 0.7s ease;
    -ms-transition: height 0.7s ease;
    -o-transition: height 0.7s ease;
    transition: height 0.7s ease;
}

.map-folding {
    text-align: right;
    margin-bottom: 20px;
}

#mapSizeToggle {
    border: 0;
    background-color: #f8f8f8;
    border-radius: 0;
}

.table-smalltext {
    font-size: 85%;
}

.pager li>a, .pager li>span {
    border-radius: 3px;
    padding: 5px 10px;
}

.pager li.current {
    padding: 5px 10px;
}

#projectDetails .modal-dialog {
    width: 90%;
}