<f:layout name="Default" />

<f:section name="Title">{settings.toolName}</f:section>

<f:section name="Content">
<div class="row" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">
	<div class="col-md-12">
		<p>The GIB Sustainable Infrastructure Grading allows project owners to assess their infrastructure project in terms of sustainability and therefore identifies strength and weaknesses of the assessed project. <strong>It provides a quality assessment to de-risk infrastructure projects for investors.</strong></p>

		<p>With the GIB Sustainable Infrastructure Grading, sustainable infrastructure can be distinguished from non-sustainable infrastructure. It helps to highlight the environmental, social and economic risks and the potential impacts resulting from decisions and gives investors and project owners a framework for decision-making.</p>

		<p>In order to gain access to the GIB Sustainable Infrastructure Grading you must first register your project:</p>

		<p>
		<f:link.action class="btn btn-primary btn-lg" additionalAttributes="{role:'button'}" controller="Project" action="newDataSheet">Register Project</f:link.action>
		</p>

		<hr />

		<p>If you already have an account for the {settings.toolName}, you can log in to edit your projects or add a new project:</p>

		<p>
			<a class="login-panel btn btn-default btn-lg" data-toggle="modal" data-target="#modal-login" href="{f:uri.action(controller:'Login', action: 'loginPanel', package: 'Flow.Login')}">Login</a>
		</p>

		<p>If you forgot your login credentials, please contact the <a href="mailto:info@gib-foundation.org">GIB team</a>.</p>
	</div>
</div>

</f:section>